@import "helper/variables";
@import "helper/responsive";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-secondary, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary, sans-serif;
    font-weight: 600;
}

h1 {
    @include media-phone-sm {
        font-size: 3.2em;
    }
}

label {
    display: block;
    width: fit-content;
    color: #c4c4c4;
}

.material-icons {
    font-size: 6.5em;
}

#header {
    width: 100%;
    background: $color-primary;
    padding: 20px;
}

.content-container {
    max-width: $max-content-width;
    margin: 0 auto;
}
.section {
    padding: 20px;
    .section-title {
        text-transform: capitalize;
        position: relative;
        width: fit-content;
        &::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 130px;
            border-bottom: 3px solid;
            color: $color-secondary;
            @include media-phone-sm{
                width:95px;
            }
        }
    }
}

.subscribe-us {
    background-image: url(https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-attachment: fixed;
    color: white;

    .first-title {
        @include media-phone {
            font-size: 3.2em;
        }

        @include media-phone-sm {
            font-size: 2.2em;
        }
    }

    .first-sub-title {
        @include media-phone {
            font-size: 2.2em;
        }

        @include media-phone-sm {
            font-size: 1.2em;
        }
    }
}
.subscription-form {
    display: grid;
    grid-row-gap: 10px;
    margin: 40px 0;
    .sub-info {
        .info-highlight {
            color: $color-secondary;
            font-size: 1em;
            font-style: italic;
        }
    }
    //overriding materialize
    .input-field {
        input[type="email"] {
            color:white;
            border-radius: 5px;
            margin: 10px 0;
            height: 50px;
            border: 2px solid #9e9e9e;
            width: 50%;
            min-width: 260px;
            padding: 0 10px;
            &:focus {
                border: 2px solid $color-secondary;
                box-shadow: 0 0 3px $color-secondary;
            }
        }

        input[type="email"].validate + label {
            margin-top: 25px;
            padding: 0 14px;
        }

        label {
            transform: translateY(3px);
        }

        .active {
            color: $color-primary;
        }
    }

    .form-radio {
        input[type="radio"]:not(checked) + span {
            &:before {
                border-color: #c4c4c4;
            }
        }
        input[type="radio"]:checked + span {
            color: white;

            &:after {
                background: $color-secondary;
                border: 2px solid $color-secondary;
            }
        }
    }

    .subscribe-btn {
        background: $color-secondary;
        width: fit-content;
        &:hover {
            background: darken($color-secondary, 10%);
        }
    }
}

.why-us {
    background: linear-gradient(-45deg, $color-secondary 50%, $color-primary);
    color: white;
    .services-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include media-tablet {
            justify-content: center;
        }
        .service {
            width: 300px;
            margin: 20px 0;
            @include media-tablet {
                margin: 20px;
                text-align: center;
            }
            .service-in-words {
                font-size: 1.4em;
                text-transform: capitalize;
            }
        }
    }
}

.how-it-works {
    .steps-container {
        .step {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            @include media-tablet {
                flex-direction: column;
            }
            figure.icon-container {
                margin: 20px;
                @include media-phone {
                    margin: 20px auto;
                }
                .step-icon {
                    border-radius: 50%;
                    padding: 25px;
                    font-size: 8.5em;
                    background: linear-gradient(45deg, $color-secondary 50%, $color-primary);
                    color: white;
                    @include media-tablet {
                        font-size: 4.5em;
                    }
                }
            }

            .steps-in-detail {
                margin: 20px;
            }
        }
    }
}
