//palette
$color-primary: #3f51b5;
//$color-primary: #2c806f;
$color-secondary: #36c2f3;
$color-tertiary: #5ba56e;
$color-extra: #69409e;

//fonts
@font-face {
    font-family: "avenir-next";
    src: url("../../fonts/AvenirNextLTPro-Regular.woff");
}

@font-face {
    font-family: "gilroy";
    src: url("../../fonts/Gilroy-Light.woff");
}

$font-primary: "gilroy";
$font-secondary: "avenir-next";

//
$max-content-width: 1140px;
